parameters:
    paths:
        - ./src
    level: max
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    universalObjectCratesClasses:
        - MinVWS\Codable\Encoding\EncodingContainer
        - MinVWS\Codable\Decoding\DecodingContainer
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'